<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ReportExporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Style"  type="ReportExporter.StyleSection,ReportExporter,Version=1.0.0.0,Culture=neutral" allowLocation="true"  allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ReportExporterConn" connectionString="" providerName="System.Data.OleDb" />
    <add name="ReportExporter.Properties.Settings.connectionString"
      connectionString=" " providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <userSettings>
    <ReportExporter.Properties.Settings>
      <!--数据导出查询对应的Procedure-->
      <setting name="queryProc" serializeAs="String">
        <value>sp_kq_day_report</value>
      </setting>
    </ReportExporter.Properties.Settings>
    <Style>
      <!--导出Excel列宽设置，按从左至右依次设置，未设置则按默认值10个字符宽度设置-->
      <Widths>
        <Width index="1" width="10"></Width>
        <Width index="2" width="15"></Width>
        <Width index="3" width="15"></Width>
        <Width index="4" width="10"></Width>
        <Width index="5" width="30"></Width>
      </Widths>
      <!--Excel列宽设置结束-->
    </Style>
  </userSettings>
</configuration>